.videoControls {
  position: absolute;
  top:160px;
  opacity: 0;
  transition-delay: 20ms;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
.cardMedia:hover .videoControls {
  opacity: 1;
}

.play {
  position:absolute;
  right: 10px;
  top: 180px;
}
.equalizer.playing {
  visibility: visible;
  transform: scaleY(1);
  top: 182px;
  transition-delay: 60ms;
  transition-duration: 700ms;
  transition-timing-function: ease-out;
  opacity: 1;
}
.equalizer {
  transition: all 2.3s 0.0s cubic-bezier(.25,.2,.16,1); 
  transform: scaleY(0);
  transform-origin: 50% 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: intrinsic;
  height: 15px;
  top: 210px;
  left: 20px;
  background: none;
}
.bar {
  position: relative;
  float: left;
  left: 0px;
  bottom: 0;
  width: 4px;
  height: 100%;
  margin: 0 5px 0 0px;
  
 /* background-color: rgba(230,20,65,1); /*red*/
  background-color: rgba(255,255,255,0.45); 
  transform: scaleY(0);
  transform-origin: 50% 100%;
  animation: barHeight 500ms infinite alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.6,0.95);
}
@keyframes barHeight {
    0%   {transform: scaleY(0.2); opacity: 1.5;}
    100% {transform: scaleY(1);}
}
.equalizer > :nth-child(1) {animation-duration: 400ms; animation-delay: 0ms;}
.equalizer > :nth-child(2) {animation-duration: 400ms; animation-delay: 133ms;}
.equalizer > :nth-child(3) {animation-duration: 400ms; animation-delay: 266ms;}
.equalizer > :nth-child(4) {animation-duration: 400ms; animation-delay: 399ms;}
.equalizer > :nth-child(5) {animation-duration: 400ms; animation-delay: 532ms;}
.equalizer > :nth-child(6) {animation-duration: 400ms; animation-delay: 665ms;}